/// Gives a card depth effect.
/// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

/// Computes a top-shadow for a card effect.
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

@return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

@return 0 $primary-offset $blur $color;
}


html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.services-wrapper {
  height: 100%;
  width: 100%;
  //padding: 80px 150px 60px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('images/yoga.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.wrapper-clone {
  @extend .services-wrapper;
  z-index: 9;
  position: absolute;
  background-image: none;
 // border: 1px solid red;
}

.no-border {
  border: none;
}

.services-panel {
  height: 75%;
  width: 800px;
  opacity: 0.75;
  background-color: #ecfafb;
}

.services-btn-group {
  margin-left: 50px; //centering the button group to compensate for no left margin for buttons
  height: 500px;
  width: 700px;
  z-index: 10;
  top: 30px;
}

.services-text {
  height: 70px;
  width: 170px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

.services-btn {
  @include card(5);
  margin: 30px 30px 0px 30px;
  white-space: normal;
  color: #3d5d61;
  background-image: linear-gradient(to bottom, #fff 30%, #a2bbbd 100%);
  border: 1px;

  &:hover {
    //border: 1px solid darkslategray;
    .services-text {
      font-size: 120%;
    }

    background-color: #fff;
    background-image: linear-gradient(to bottom, #a2bbbd 20%, #fff 100%);

  }

  &:active { //onpress
    //font-size: 200%;
  }

  &:focus {
    //font-size: 200%;
  }
}

.about-wrapper {
  padding: 8% 20% 5% 10%;
  //padding: 70px 350px 70px 200px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #417c82;
}

.about-header {
  text-align: center;

  .heading {
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 1px;
    color: #fefefe;
    //margin-bottom: 5px;
    font-family: 'Mada', sans-serif;
  }

  .heading-bottom {
    margin-bottom: 40px;
    color: #1d5871;
    text-transform: uppercase;
    font-size: 22px;
  }
}

.about-desc {
  margin-left: 15px;
  color: #c8dbe1;
  font-size: 20px;
}

.rutu-pic {
  //border: 5px solid white;
  //outline: 2px solid black;
  float: left;
}

.carousel-inner > .item > img {
  width:100%;
  height:750px;
}

.cover-base {
  height: 200px;
  background-color: #406067;
}


.contact-wrapper {
  height: 100%;
  width: 100%;
}

/* RESPONSIVE CSS */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
